<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title> About 궁물쌤 </title>

    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'single_pages/css/about_me.css' %}" media="screen">
    <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>
</head>
<body>

{% include 'blog/navbar.html' %}

<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-8">
                <h1>안녕하세요. 궁물쌤입니다.</h1>
                <br/>
                <p class="lead">
                    궁물쌤이란 [궁금한 것을 물어보세요 선생님(쌤)] 줄임말입니다.<br/>
                    궁물쌤 케릭터는 용한타로 스마트폰 어플리케이션 1.0버전에서 사용한 케릭터입니다.
                </p>

                <ul>
                    <li>History</li>
                    <ul>
                        <li>용한타로 </li>
                        <li>용한띠별운세 (https://play.google.com/store/apps/details?id=com.mssoft.todaysaju)</li>
                        <li>용한토정비결 (https://play.google.com/store/apps/details?id=com.mssoft.fatesaju)</li>
                        <li>용한손금 (https://play.google.com/store/apps/details?id=com.mssoft.palmline)</li>
                        <li>용한꿈풀이 (https://play.google.com/store/apps/details?id=com.mssoft.dreamread)</li>
                        <li>용한이름풀이-사주,작명 (https://play.google.com/store/apps/details?id=com.mssoft.nameread)</li>
                    </ul>
                    <li>Education</li>
                    <ul>
                        <li>대동학회 (www.iching.kr)</li>

                    </ul>
                    <li>Publish</li>
                    <ul>
                        <li>주역(대동정신문화학회)</li>
                        <li>명리(대동정신문화학회)</li>
                    </ul>
                </ul>

            </div>
            <div class="col-lg-4">
                <img class="img-fluid" src="{% static 'single_pages/images/icon.png' %}">
            </div>
        </div>
    </div>
</section>

<section class="bg-light margin-for-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>PORTFOLIO</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#pycon2017">
                    <img class="card-img-top" src="{% static 'single_pages/images/tarot_main_2.png' %}">
                    <div class="card-body">
                        <h5 class="card-title">용한타로</h5>
                        <p>
                            용한씨리즈 중에서 용한타로는 주역점과 타로점은 점을 치는 원리가 유사합니다.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#inflearn_django2">
                    <img class="card-img-top" src="{% static 'single_pages/images/today_main.png' %}">
                    <div class="card-body">
                        <h5 class="card-title">용한띠별운세</h5>
                        <p>오늘의운세를 띠별로 볼 수 있도록 구성하였습니다.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#automation_python">
                    <img class="card-img-top" src="{% static 'single_pages/images/tojung_main.png' %}">
                    <div class="card-body">
                        <h5 class="card-title">용한토정비결</h5>
                        <p>
                            토정 이지함의 술서를 바탕으로 하여 144괘를 현대적 의미로 알기 쉽게 풀이하였습니다.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Modal -->
<div class="modal fade" id="pycon2017" tabindex="-1" role="dialog" aria-labelledby="pycon2017ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pycon2017ModalLabel">용한타로</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/tarot_main_2.png' %}">
                    </div>
                    <div class="col-lg-5">
                        <p>용한씨리즈 중에서 용한타로를 출시 주역점과 타로점은 점을 치는 것이 유사합니다.
                           얻고자하는 점을 정하고 천지의 기운을 받아서 점의 결과를 얻는 것입니다.
                           하나를 알면 열을 알 수 있다는 것이 주역의 원리이며
                           천지의 기운을 받아 약간의 징조를 얻는 것입니다.
                           이 결과를 이용하여 미래에 대한 예언을 하는 것입니다
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="inflearn_django2" tabindex="-1" role="dialog" aria-labelledby="inflearnDjangoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id=" inflearnDjangoModalLabel">용한띠별운세</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/today_main.png' %}">
                    </div>
                    <div class="col-lg-5">
                        <p>[용한씨리즈] 오늘의운세를 띠별로 볼 수 있도록 구성하였습니다.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="automation_python" tabindex="-1" role="dialog" aria-labelledby="automationPythonModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id=" automationPythonModalLabel">용한토정비결</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/tojung_main.png' %}">
                    </div>
                    <div class="col-lg-5">
                        <p>
                            토정 이지함의 술서를 바탕으로 하여 144괘를 현대적 의미로 알기 쉽게 풀이하였습니다.
                            인생의 길흉지사를 144괘로 분석하고 각 괘마다 12개월에 따라 재해석하여
                            현대인들이 더 쉽게 이해 할 수 있도록 풀이 하였습니다.
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="fixed-bottom">
    {% include 'blog/footer.html' %}
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


</body>
</html>